header {font-family:"arial";
  font-style:italic;
  font-size:30px;
  color:#DBA901
}



body {
  background-color: #5882FA}     
    p { color:#DBA901 
  }
.enchulada{
  font-family:"arial";
  font-style:italic;
  font-size:30px
    
    ;
  color:#DF013A
  }
